# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
.studio-jdk
local.properties
*.iml
*.hprof

# Bundle artifacts
*.jsbundle

# Release keystore and signing credentials
*.keystore
!debug.keystore
signing.properties
